<footer class="page-footer green lighten-1">
  <div class="footer-copyright green">
    <div class="container">
     
      <a class="black-text green right" href="/articles-json"> JSON</a>
    </div>
  </div>
</footer>