 <nav>
    <div class="nav-wrapper green">
      <a href="/" class="brand-logo center">Scrape The News</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape now!</a></li>
        <li><a href="https://github.com/zlouis/MongoScrape" target="_blank">Git </a></li>
      </ul>
    </div>
  </nav>